.search-form-inside {
  padding: 10px;
}

#search-query{
  background-color: #420a0a;
}

#search-button{
  background-color: #c02429;
}

/* EDITS ALL TEXT INPUT FIELDS INCLUDING LOGIN */

/* label underline focus color */
/* .input-field input[type=text]:focus, .main-search {
  
} */

#search-query:focus {
  border: 1px solid rgb(255, 126, 126);
  box-shadow: 0 1px 0 0 rgba(80, 0, 0, 0.596);
}

#search-query:focus + label {
  color: rgb(255, 180, 180);
}

#search-query {
  border:rgb(255, 126, 126);
}