.search-form-inside {
  padding: 10px;
}

#search-query{
  background-color: #420a0a;
}

#search-button{
  background-color: #c02429;
}

.input-field input[type=text] {
  border:rgb(255, 126, 126);
}

/* label focus color */
.input-field input[type=text]:focus + label {
color: rgb(255, 180, 180);
}

/* label underline focus color */
.input-field input[type=text]:focus {
  border: 1px solid rgb(255, 126, 126);
  box-shadow: 0 1px 0 0 rgba(80, 0, 0, 0.596);
}
