.search-page {
  padding: 24px;
}

.search-theme {
  background-color: #8d1313;
}

.about-theme {
  background-color: #3461c4;
}

.text-size-default {
  font-size: 20px;
}

.search-results-theme {
  background-color: rgb(29, 53, 105);
}

.about-theme {
  background-color: #911e1e;
}

/* .gradient-animated {
  background: linear-gradient(180deg, #ff0000, #ffa500);
  background-size: 400% 400%;

  -webkit-animation: fire-gradient 30s ease infinite;
  -moz-animation: fire-gradient 30s ease infinite;
  animation: fire-gradient 30s ease infinite;
}

  @-webkit-keyframes fire-gradient {
      0%{background-position:50% 0%}
      50%{background-position:50% 100%}
      100%{background-position:50% 0%}
  }
  @-moz-keyframes fire-gradient {
      0%{background-position:50% 0%}
      50%{background-position:50% 100%}
      100%{background-position:50% 0%}
  }
  @keyframes fire-gradient { 
      0%{background-position:50% 0%}
      50%{background-position:50% 100%}
      100%{background-position:50% 0%}
  } */
body {
  font-family: "Open Sans","OpenSans",sans-serif;
}
