.about-theme-light {
  background-color: #8d1313;
}

.about-theme-dark {
  background-color: rgb(68, 0, 0);
}

body {
  font-family: "Open Sans","OpenSans",sans-serif;
}

.container-size {
  margin-bottom:24px;
}

.home-button-red {
  background-color: #c02429;
}

.results-text {
  color: black;
}

.search-page {
  padding: 24px;
}

#search-page-background {
  background-color: rgb(68, 0, 0);
  margin-left: calc(50% - 50vw);
  width: 100vw;
  height:80vw;
}

.search-results-theme {
  background-color: rgb(68, 0, 0);
}

.search-results-table-dark {
  background-color: #250404;
}

.search-results-table-dark:hover {
  background-color: gray
}

.search-theme {
  background-color: #8d1313;
}

.show {
  display: inline;
}

.text-size-default {
  font-size: 20px;
}